body {
  background: black;
}

// .filter-wrapper {
//   width: 100px;
// }

mat-form-field {
  width: 100%;
}
.table-wrapper {
  width: 100%;
  overflow: scroll;
  table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  td {
    text-align: center;
    padding: 0 10px;
  }
}
