.main {
  background: url('../../../../../assets/background.jpg');
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 10%;
    height: 5%;
    display: flex;
    justify-content: center;
  }
}
